<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register now</title>
</head>

<body>

    <div class="content-section">

        {% if submitted %}
        <div>
            <p>Your registration was submitted succesfully!</p>
        </div>
        {% else %}
        <form enctype='multipart/form-data' method='POST'>

            {% csrf_token %}
            <legend>Register now</legend>
            {{ form1.as_p }}
            {{ form2.as_p }}
            <div class="submit-button"><button type="submit">Sign Up</button></div>
        </form>
        <div>
            <small>Already have an account? <a href="/login/">Sign in here!</a></small>
        </div>
        {% endif %}

    </div>

</body>

</html>